@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
	height: 100%;
	min-height: -webkit-fill-available;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
}

.Toastify__toast-container {
	@apply px-4 md:px-0;
}

.Toastify__toast {
	@apply rounded-lg mb-4 md:mb-0;
}
